<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QuotesPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let dataQuotes of data">
    <ion-card-header>
      {{ dataQuotes.id }}
    </ion-card-header>
    <ion-card-title> 
      {{ dataQuotes.text }}
    </ion-card-title>
    <ion-card-content>
      {{ dataQuotes.person }}
    </ion-card-content>

    <ion-grid>
      <ion-row no-padding>
        <ion-col>
          <button *ngIf = "isFavorite(dataQuotes) == 0" ion-button clear small color="danger" icon-start (click) = 'onShowAlert(dataQuotes)'>
            <ion-icon name='star'></ion-icon>
            Favorites
          </button>
          <button *ngIf = "isFavorite(dataQuotes) == 1" ion-button clear small color="danger" icon-start (click) = 'onShowAlertRemove(dataQuotes)'>
            <ion-icon name='star'></ion-icon>
            Unfavorites
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>
